@model JobSocialPoster.Core.Models.Post

@{
    ViewBag.Title = "Usuń post";
}

<h2>Usuń post</h2>

<h3>Czy na pewno chcesz usunąć post?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
