@model JobSocialPoster.Core.ViewModels.PostManagerViewModel

@{
    ViewBag.Title = "Eksportuj post";
}

<h2>Eksportuj post</h2>
@Html.Raw(ViewBag.ImportCheck)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Post.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.PostImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.PostImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Profile)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Eksportuj" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
